<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ
        ==" crossorigin="anonymous">

        <title>Grief to Action</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="/">Home</a>
                    <a class="navbar-brand" href="/about">About</a>
                    <a class="navbar-brand" href="/elevate"><strong>Project Elevate</strong></a>
                    <a class="navbar-brand" href="/contact">Contact</a>
                </div>
            </div>
        </nav>

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScWT0uZ6Xk4lRULvNLaDzbNJAc0YhNvnJBq9b-FsTj0P_iXuA/viewform?embedded=true" 
        width="640" height="1369" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </body>
</html>