<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ
        ==" crossorigin="anonymous">

        <title>Grief to Action</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="/">Home</a>
                    <a class="navbar-brand" href="/about">About</a>
                    <a class="navbar-brand" href="/elevate">Project Elevate</a>
                    <a class="navbar-brand" href="#"><strong>Contact</strong></a>
                </div>
            </div>
        </nav>

        <h1>Join Our Team</h1>
        <p>Come be a part of our movement by joining our team. There are a variety of things that you can do and participate in. 
        <br>Join our Slack workspace here and fill our this form. We can get started immediately!</p>
        <h1>Have a Project?</h1>
        <p>Are you a part of an organization that could use some support? Do you have a cause that you feel we should work for to help?
            Reach out to us at grieftoaction@pitt.edu</p>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf8ICSCHuYCJuNetc2bW8gZKtCaZ0DD7ZtYpqABWAK5vlZxYw/viewform?embedded=true" width="640" height="3566" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </body>
</html>